/* ************************* POSITIONS **************************** */
@mixin positions($breakpoint) {
    [relative-top=""]:not([relative-bottom~="#{$breakpoint}"], [relative-left~="#{$breakpoint}"], [relative-right~="#{$breakpoint}"]),
    [relative-top~="#{$breakpoint}"] {
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[start~="#{$breakpoint}"] {
            right: auto;
        }

        &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"] {
            left: auto;
        }

        [dir="rtl"] & {
            &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
            &[start~="#{$breakpoint}"] {
                right: 0;
                left: auto;
            }

            &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
            &[end~="#{$breakpoint}"] {
                right: auto;
                left: 0;
            }
        }

        &[center=""]:not([start~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[center~="#{$breakpoint}"] {
            left: 50%;
            transform: translateX(-50%);
            right: auto;
        }
    }

    [relative-bottom=""]:not([relative-top~="#{$breakpoint}"], [relative-left~="#{$breakpoint}"], [relative-right~="#{$breakpoint}"]),
    [relative-bottom~="#{$breakpoint}"] {
        z-index: 99;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[start~="#{$breakpoint}"] {
            right: auto;
        }

        &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"] {
            left: auto;
        }

        [dir="rtl"] & {
            &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
            &[start~="#{$breakpoint}"] {
                right: 0;
                left: auto;
            }

            &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
            &[end~="#{$breakpoint}"] {
                right: auto;
                left: 0;
            }
        }

        &[center=""]:not([start~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[center~="#{$breakpoint}"] {
            left: 50%;
            transform: translateX(-50%);
            right: auto;
        }
    }

    [relative-left=""]:not([relative-top~="#{$breakpoint}"], [relative-bottom~="#{$breakpoint}"], [relative-right~="#{$breakpoint}"]),
    [relative-left~="#{$breakpoint}"] {
        z-index: 99;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        [dir="rtl"] & {
            left: auto;
            right: 0;
        }

        &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[start~="#{$breakpoint}"] {
            bottom: auto;
        }

        &[center=""]:not([start~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[center~="#{$breakpoint}"] {
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
        }

        &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"] {
            top: auto;
        }
    }

    [relative-right=""]:not([relative-top~="#{$breakpoint}"], [relative-bottom~="#{$breakpoint}"], [relative-left~="#{$breakpoint}"]),
    [relative-right~="#{$breakpoint}"] {
        z-index: 99;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        [dir="rtl"] & {
            left: 0;
            right: auto;
        }

        &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[start~="#{$breakpoint}"] {
            bottom: auto;
        }

        &[center=""]:not([start~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[center~="#{$breakpoint}"] {
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
        }

        &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"] {
            top: auto;
        }
    }

    [fixed-top=""]:not([fixed-bottom~="#{$breakpoint}"], [fixed-left~="#{$breakpoint}"], [fixed-right~="#{$breakpoint}"]),
    [fixed-top~="#{$breakpoint}"] {
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: initial;

        &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[start~="#{$breakpoint}"] {
            right: auto;
        }

        &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"] {
            left: auto;
        }

        [dir="rtl"] & {
            &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
            &[start~="#{$breakpoint}"] {
                right: 0;
                left: auto;
            }

            &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
            &[end~="#{$breakpoint}"] {
                right: auto;
                left: 0;
            }
        }

        &[center=""]:not([start~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[center~="#{$breakpoint}"] {
            left: 50%;
            transform: translateX(-50%);
            right: auto;
        }
    }

    [fixed-bottom=""]:not([fixed-top~="#{$breakpoint}"], [fixed-left~="#{$breakpoint}"], [fixed-right~="#{$breakpoint}"]),
    [fixed-bottom~="#{$breakpoint}"] {
        z-index: 9999;
        position: fixed !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        transform: initial;

        &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[start~="#{$breakpoint}"] {
            right: auto;
        }

        &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"] {
            left: auto;
        }

        [dir="rtl"] & {
            &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
            &[start~="#{$breakpoint}"] {
                right: 0;
                left: auto;
            }

            &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
            &[end~="#{$breakpoint}"] {
                right: auto;
                left: 0;
            }
        }

        &[center=""]:not([start~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[center~="#{$breakpoint}"] {
            left: 50%;
            transform: translateX(-50%);
            right: auto;
        }
    }

    [fixed-left=""]:not([fixed-top~="#{$breakpoint}"], [fixed-bottom~="#{$breakpoint}"], [fixed-right~="#{$breakpoint}"]),
    [fixed-left~="#{$breakpoint}"] {
        z-index: 9999;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        transform: initial;

        [dir="rtl"] & {
            left: auto;
            right: 0;
        }

        &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[start~="#{$breakpoint}"] {
            bottom: auto;
        }

        &[center=""]:not([start~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[center~="#{$breakpoint}"] {
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
        }

        &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"] {
            top: auto;
        }
    }

    [fixed-right=""]:not([fixed-top~="#{$breakpoint}"], [fixed-bottom~="#{$breakpoint}"], [fixed-left~="#{$breakpoint}"]),
    [fixed-right~="#{$breakpoint}"] {
        z-index: 9999;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        transform: initial;

        [dir="rtl"] & {
            left: 0;
            right: auto;
        }

        &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[start~="#{$breakpoint}"] {
            bottom: auto;
        }

        &[center=""]:not([start~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[center~="#{$breakpoint}"] {
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
        }

        &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"] {
            top: auto;
        }
    }

    [sticky-top=""]:not([sticky-bottom~="#{$breakpoint}"]),
    [sticky-top~="#{$breakpoint}"] {
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        position: sticky;

        &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[start~="#{$breakpoint}"] {
            right: auto;
        }

        &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"] {
            left: auto;
        }

        [dir="rtl"] & {
            &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
            &[start~="#{$breakpoint}"] {
                right: 0;
                left: auto;
            }

            &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
            &[end~="#{$breakpoint}"] {
                right: auto;
                left: 0;
            }
        }

        &[center=""]:not([start~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[center~="#{$breakpoint}"] {
            left: 50%;
            transform: translateX(-50%);
            right: auto;
        }
    }

    [sticky-bottom=""]:not([sticky-top~="#{$breakpoint}"]),
    [sticky-bottom~="#{$breakpoint}"] {
        z-index: 999;
        bottom: 0;
        left: 0;
        right: 0;

        position: sticky;

        &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[start~="#{$breakpoint}"] {
            right: auto;
        }

        &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"] {
            left: auto;
        }

        [dir="rtl"] & {
            &[start=""]:not([center~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
            &[start~="#{$breakpoint}"] {
                right: 0;
                left: auto;
            }

            &[end=""]:not([start~="#{$breakpoint}"], [center~="#{$breakpoint}"]),
            &[end~="#{$breakpoint}"] {
                right: auto;
                left: 0;
            }
        }

        &[center=""]:not([start~="#{$breakpoint}"], [end~="#{$breakpoint}"]),
        &[center~="#{$breakpoint}"] {
            left: 50%;
            transform: translateX(-50%);
            right: auto;
        }
    }

    /************* OVERLAY **************/

    [overlay=""],
    [overlay~="#{$breakpoint}"],
    [overlay~="#{$breakpoint}-full"] {
        position: fixed;
        z-index: 100;
        transform-style: preserve-3d;
        max-height: 100vh;

        &::before {
            content: "";
            background-color: rgba(0, 0, 0, 0.8);
            top: 50%;
            left: 50%;
            right: auto;
            bottom: auto;
            position: fixed;
            width: 100vw;
            height: 100vh;
            transform: translate(-50%, -50%) translateZ(-1px);

            [dir="rtl"] & {
                transform: translate(50%, -50%) translateZ(-1px);
            }
        }

        &[end=""]::before,
        &[end~="#{$breakpoint}"]::before {
            top: 0;
            left: 0;
            transform: translate(-100%, 0%) translateZ(-1px);

            [dir="rtl"] & {
                transform: translate(0%, 0%) translateZ(-1px);
            }
        }
    }

    [overlay=""],
    [overlay~="#{$breakpoint}"] {
        &:not([overlay-full~="#{$breakpoint}"]) {
            [overflow-auto=""],
            [overflow-auto~="#{$breakpoint}"] {
                overflow: auto;
                max-height: stretch; //-webkit-fill-available;
            }
        }

        &:not([overlay-full~="#{$breakpoint}"], [end=""], [end~="#{$breakpoint}"]) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &[end=""]:not([overlay-full~="#{$breakpoint}"]),
        &[end~="#{$breakpoint}"]:not([overlay-full~="#{$breakpoint}"]) {
            top: 0;
            right: 0;
            bottom: 0;
            [dir="rtl"] & {
                left: 0;
                right: auto;
            }
        }

        &[overlay-full~="#{$breakpoint}"] {
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            overflow: auto;
            width: 100vw;
            min-width: 100vw;
            max-width: 100vw;
            &::before {
                display: none;
            }
        }
    }

    [overlay~="#{$breakpoint}-full"] {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: auto;
        &::before {
            display: none;
        }
    }
}
