$primary-color: #1e3b8f;
$secondary-color: #df7b43;
$default-color: blue;
$white-color: white;
$black-color: black;
$lite-color: #fafafa;

$breakpoints: (
  "xs": 480px,
  "sm": 768px,
  "md": 992px,
  "lg": 1200px,
  "xl": null
);

$prop-bag1: ".resiliant-font-size-1";
$prop-bag2: ".resiliant-font-size-2";
$prop-bag3: ".resiliant-font-size-3";

$map-font-sizes: (
  "xs": (
    $prop-bag1: 30px,
    $prop-bag2: 24px,
    $prop-bag3: 22px
  ),
  "sm": (
    $prop-bag1: 40px,
    $prop-bag2: 34px,
    $prop-bag3: 32px
  ),
  "md": (
    $prop-bag1: 50px,
    $prop-bag2: 44px,
    $prop-bag3: 42px
  ),
  "lg": (
    $prop-bag1: 60px,
    $prop-bag2: 54px,
    $prop-bag3: 52px
  ),
  "xl": (
    $prop-bag1: 70px,
    $prop-bag2: 64px,
    $prop-bag3: 62px
  )
);

$spacing-map: (
  0: 0px,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
  11: 20px,
  12: 30px,
  13: 40px,
  14: 50px,
  15: 60px,
  16: 70px,
  17: 80px,
  18: 90px,
  19: 100px,
  20: 200px,
  c120: 120px,
  c140: 140px
);
