/* ALIGNMENT */

@mixin alignments($breakpoint) {
  [start=""]:not([center~="#{$breakpoint}"]):not([end~="#{$breakpoint}"]):not([stretch~="#{$breakpoint}"]),
  [start~="#{$breakpoint}"] {
    align-self: flex-start !important;
  }

  [center=""]:not([start~="#{$breakpoint}"]):not([end~="#{$breakpoint}"]):not([stretch~="#{$breakpoint}"]),
  [center~="#{$breakpoint}"] {
    align-self: center !important;
  }

  [end=""]:not([start~="#{$breakpoint}"]):not([center~="#{$breakpoint}"]):not([stretch~="#{$breakpoint}"]),
  [end~="#{$breakpoint}"] {
    align-self: flex-end !important;
  }

  [stretch=""]:not([start~="#{$breakpoint}"]):not([center~="#{$breakpoint}"]):not([end~="#{$breakpoint}"]),
  [stretch~="#{$breakpoint}"] {
    align-self: stretch !important;
  }
}

@mixin alignments-light() {
  [start=""] {
    align-self: flex-start !important;
  }

  [center=""] {
    align-self: center !important;
  }

  [end=""] {
    align-self: flex-end !important;
  }

  [stretch=""] {
    align-self: stretch !important;
  }
}
