/* ************************* VBOX LAYOUT **************************** */
@mixin vbox-layout($breakpoint) {
  body {
    &[vbox=""]:not([hbox~="#{$breakpoint}"]):not([wrap*="#{$breakpoint}-"]):not([wrap=""]):not([wrap~="1"]):not([wrap~="2"]):not([wrap~="3"]):not([wrap~="4"]):not([wrap~="5"]),
    &[vbox~="#{$breakpoint}"] {
      &[space-center=""]:not([space-start~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]),
      &[space-center~="#{$breakpoint}"],
      &[space-end=""]:not([space-start~="#{$breakpoint}"]):not([space-center~="#{$breakpoint}"])
      &[space-end~="#{$breakpoint}"],
      &:not([space-start=""]):not([space-start~="#{$breakpoint}"]),
      &[fluid=""],
      &[fluid~="#{$breakpoint}"]:not([fluid^="!"]),
      &[fluid^="!"]:not([fluid~="#{$breakpoint}"]) {
        min-height: 100vh;
      }
    }
  }

  [vbox=""]:not([hbox~="#{$breakpoint}"]):not([wrap*="#{$breakpoint}-"]):not([wrap=""]):not([wrap~="1"]):not([wrap~="2"]):not([wrap~="3"]):not([wrap~="4"]):not([wrap~="5"]),
  [vbox~="#{$breakpoint}"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; //flex-start | flex-end | center | space-between | space-around
    align-items: stretch;

    body.ie & {
      & > * {
        width: 100%;
        word-break: inherit;
      }

      &[items-start=""]:not([items-center~="#{$breakpoint}"]):not([items-end~="#{$breakpoint}"]),
      &[items-start~="#{$breakpoint}"] {
        & > *:not(p) {
          width: auto;
          word-break: initial;
        }
        & > p {
          text-align: left;
        }
      }

      &[items-center=""]:not([items-start~="#{$breakpoint}"]):not([items-end~="#{$breakpoint}"]),
      &[items-center~="#{$breakpoint}"] {
        & > *:not(p) {
          width: auto;
          word-break: initial;
        }
        & > p {
          text-align: center;
        }
      }

      &[items-end=""]:not([items-start~="#{$breakpoint}"]):not([items-center~="#{$breakpoint}"]),
      &[items-end~="#{$breakpoint}"] {
        & > *:not(p) {
          width: auto;
          word-break: initial;
        }
        & > p {
          text-align: right;
        }
      }

      & > [start=""]:not([center~="#{$breakpoint}"]):not([end~="#{$breakpoint}"]),
      & > [start~="#{$breakpoint}"] {
        width: auto;
      }
    
      & > [center=""]:not([start~="#{$breakpoint}"]):not([end~="#{$breakpoint}"]),
      & > [center~="#{$breakpoint}"] {
        width: auto;
      }
    
      & > [end=""]:not([start~="#{$breakpoint}"]):not([center~="#{$breakpoint}"]),
      & > [end~="#{$breakpoint}"] {
        width: auto;
      }

    }


    > [m-auto=""],
    > [m-auto~="#{$breakpoint}"]:not([m-auto^="!"]),
    > [m-auto^="!"]:not([m-auto~="#{$breakpoint}"]) {
      margin-top: auto;
    }

    > img {
      max-width: 100%;
      object-fit: cover;
      align-self: center;
    }

    > *:not(img) {
      flex-grow: 1;
      flex-shrink: 1;
    }

    &[space-start=""]:not([space-center~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-between~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"]),
    &[space-start~="#{$breakpoint}"] {
      justify-content: flex-start;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    &[space-center=""]:not([space-start~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-between~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"]),
    &[space-center~="#{$breakpoint}"] {
      justify-content: center;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    &[space-end=""]:not([space-center~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-between~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"]),
    &[space-end~="#{$breakpoint}"] {
      justify-content: flex-end;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    &[space-between=""]:not([space-center~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"]),
    &[space-between~="#{$breakpoint}"] {
      justify-content: space-between;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    &[space-around=""]:not([space-center~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-between~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"]),
    &[space-around~="#{$breakpoint}"] {
      justify-content: space-around;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    &[space-evenly=""]:not([space-center~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-between~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]),
    &[space-evenly~="#{$breakpoint}"] {
      justify-content: space-evenly;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }

    &[items-start=""]:not([items-center~="#{$breakpoint}"]):not([items-end~="#{$breakpoint}"]),
    &[items-start~="#{$breakpoint}"] {
      align-items: flex-start;
      > img {
        align-self: flex-start;
      }
    }
    &[items-center=""]:not([items-start~="#{$breakpoint}"]):not([items-end~="#{$breakpoint}"]),
    &[items-center~="#{$breakpoint}"] {
      align-items: center;
      > img {
        align-self: center;
      }
    }
    &[items-end=""]:not([items-start~="#{$breakpoint}"]):not([items-center~="#{$breakpoint}"]),
    &[items-end~="#{$breakpoint}"] {
      align-items: flex-end;
      > img {
        align-self: flex-end;
      }
    }

  }
}


/* ************************* VBOX LAYOUT LIGHT**************************** */
@mixin vbox-layout-light() {
  body {
    &[vbox=""] {
      &[space-center=""],
      &[space-end=""],
      &:not([space-start=""]),
      &[fluid=""] {
        min-height: 100vh;
      }
    }
  }

  [vbox=""] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; //flex-start | flex-end | center | space-between | space-around
    align-items: stretch;

    > [m-auto=""] {
      margin-top: auto;
    }

    > img {
      max-width: 100%;
      object-fit: cover;
      align-self: center;
    }

    > *:not(img) {
      flex-grow: 1;
      flex-shrink: 1;
    }

    &[space-start=""] {
      justify-content: flex-start;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    &[space-center=""] {
      justify-content: center;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    &[space-end=""] {
      justify-content: flex-end;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    &[space-between=""] {
      justify-content: space-between;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    &[space-around=""] {
      justify-content: space-around;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
    &[space-evenly=""] {
      justify-content: space-evenly;
      & > *:not(img) {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }

    &[items-start=""] {
      align-items: flex-start;
      > img {
        align-self: flex-start;
      }
    }
    &[items-center=""] {
      align-items: center;
      > img {
        align-self: center;
      }
    }
    &[items-end=""] {
      align-items: flex-end;
      > img {
        align-self: flex-end;
      }
    }
  }
}