/* ************************* SPACING **************************** */
@mixin spacing($i, $breakpoint) {
  @if map-has-key($spacing-map, $i) {
    $selector-section: '[spacing-section~="#{$breakpoint}-#{$i}"], [spacing-section~="#{$i}"]:not([spacing-section*="#{$breakpoint}-"])';
    #{$selector-section} {
      padding-top: map-get($spacing-map, $i) !important;
      padding-bottom: map-get($spacing-map, $i) !important;
    }

    $selector-top: '[spacing-top~="#{$breakpoint}-#{$i}"], [spacing-top~="#{$i}"]:not([spacing-top*="#{$breakpoint}-"])';
    #{$selector-top} {
      margin-top: map-get($spacing-map, $i) !important;
    }

    $selector-bottom: '[spacing-bottom~="#{$breakpoint}-#{$i}"], [spacing-bottom~="#{$i}"]:not([spacing-bottom*="#{$breakpoint}-"])';
    #{$selector-bottom} {
      margin-bottom: map-get($spacing-map, $i) !important;
    }

    $selector-before: '[spacing-before~="#{$breakpoint}-#{$i}"], [spacing-before~="#{$i}"]:not([spacing-before*="#{$breakpoint}-"])';
    #{$selector-before} {
      margin-left: map-get($spacing-map, $i) !important;
      [dir="rtl"] & {
        margin-left: initial !important;
        margin-right: map-get($spacing-map, $i) !important;
      }
    }

    $selector-after: '[spacing-after~="#{$breakpoint}-#{$i}"], [spacing-after~="#{$i}"]:not([spacing-after*="#{$breakpoint}-"])';
    #{$selector-after} {
      margin-right: map-get($spacing-map, $i) !important;
      [dir="rtl"] & {
        margin-right: initial !important;
        margin-left: map-get($spacing-map, $i) !important;
      }
    }

    $vbox-items-spacing: '[items-spacing~="#{$breakpoint}-#{$i}"], [items-spacing~="#{$i}"]:not([items-spacing*="#{$breakpoint}-"])';
    #{$vbox-items-spacing} {
      &[vbox=""]:not([hbox~="#{$breakpoint}"]):not([wrap*="#{$breakpoint}-"]):not([wrap=""]):not([wrap~="1"]):not([wrap~="2"]):not([wrap~="3"]):not([wrap~="4"]):not([wrap~="5"]),
      &[vbox~="#{$breakpoint}"] {
        & > *:not(:first-child) {
          margin-top: map-get($spacing-map, $i) !important;
        }
      }
      
      &[hbox=""]:not([vbox~="#{$breakpoint}"]):not([wrap*="#{$breakpoint}-"]):not([wrap=""]):not([wrap~="1"]):not([wrap~="2"]):not([wrap~="3"]):not([wrap~="4"]):not([wrap~="5"]),
      &[hbox~="#{$breakpoint}"] {
        & > *:not(:first-child) {
          margin-left: map-get($spacing-map, $i) !important;
          [dir="rtl"] & {
            margin-left: initial !important;
            margin-right: map-get($spacing-map, $i) !important;
          }
        }
        
      }

      &[wrap=""]:not([vbox~="#{$breakpoint}"]):not([hbox~="#{$breakpoint}"]),
      &[wrap*="#{$breakpoint}-"],
      &[wrap~="1"],
      &[wrap~="2"],
      &[wrap~="3"],
      &[wrap~="4"],
      &[wrap~="5"] {
        & > [col] {
          margin-bottom: map-get($spacing-map, $i) !important;
        }
      }

    }
  }
}

/* ************************* SPACING LIGHT **************************** */
@mixin spacing-light($i) {
  @if map-has-key($spacing-map, $i) {
    $selector-top: '[spacing-top="#{$i}"])';
    #{$selector-top} {
      margin-top: map-get($spacing-map, $i) !important;
    }

    $selector-before: '[spacing-before="#{$i}"]';
    #{$selector-before} {
      margin-left: map-get($spacing-map, $i) !important;
      [dir="rtl"] & {
        margin-left: initial !important;
        margin-right: map-get($spacing-map, $i) !important;
      }
    }

    $selector-after: '[spacing-after="#{$i}"]';
    #{$selector-after} {
      margin-right: map-get($spacing-map, $i) !important;
      [dir="rtl"] & {
        margin-right: initial !important;
        margin-left: map-get($spacing-map, $i) !important;
      }
    }

    $vbox-items-spacing: '[items-spacing="#{$i}"]';
    #{$vbox-items-spacing} {
      &[vbox] {
        & > * {
          margin-top: map-get($spacing-map, $i) !important;
        }
      }
      
      &[hbox] {
        & > * {
          margin-left: map-get($spacing-map, $i) !important;
          [dir="rtl"] & {
            margin-left: initial !important;
            margin-right: map-get($spacing-map, $i) !important;
          }
        }
        
      }

    }
  }
}
