@mixin vbox-spacing($breakpoint) {
    @each $i, $v in $spacing-map {
        & > [spacing-before~="#{$breakpoint}-#{$i}"],
        & > [spacing-before~="#{$i}"]:not([spacing-before*="#{$breakpoint}-"]) {
            margin-block-start: $v;
        }
    }
    
    @each $i, $v in $spacing-map {
        & > [spacing-after~="#{$breakpoint}-#{$i}"],
        & > [spacing-after~="#{$i}"]:not([spacing-after*="#{$breakpoint}-"]) {
            margin-block-end: $v;
        }
    }  
}

@mixin hbox-spacing($breakpoint) {
    @each $i, $v in $spacing-map {
        & > [spacing-before~="#{$breakpoint}-#{$i}"],
        & > [spacing-before~="#{$i}"]:not([spacing-before*="#{$breakpoint}-"]) {
            margin-inline-start: $v;
        }
    }
    
    @each $i, $v in $spacing-map {
        & > [spacing-after~="#{$breakpoint}-#{$i}"],
        & > [spacing-after~="#{$i}"]:not([spacing-after*="#{$breakpoint}-"]) {
            margin-inline-end: $v;
        }
    }  
}