/* WRAP */
@mixin wrap-layout($i, $breakpoint) {
  $selector: '[wrap~="#{$breakpoint}-#{$i}"], [wrap~="#{$i}"]:not([wrap*="#{$breakpoint}-"]):not([hbox~="#{$breakpoint}"]):not([vbox~="#{$breakpoint}"])';
  #{$selector} {
    display: flex;
    flex-flow: wrap;

    &:not([reverse=""]):not([reverse~="#{$breakpoint}"]) {
      flex-direction: row;
    }
    &[reverse=""], &[reverse~="#{$breakpoint}"] {
      flex-direction: row-reverse;
    }

    & > [col] {
      flex: 0 0 (100% / $i);
      max-width: 100% / $i;
      //margin-bottom: 1% * 2;
    }

  }

  @include wrap-spaces($i, $breakpoint);
}

@mixin wrap-items($breakpoint) {
  $selector: '[wrap*="#{$breakpoint}-"], [wrap~="1"]:not([wrap*="#{$breakpoint}-"]), [wrap~="2"]:not([wrap*="#{$breakpoint}-"]), [wrap~="3"]:not([wrap*="#{$breakpoint}-"]), [wrap~="4"]:not([wrap*="#{$breakpoint}-"]), [wrap~="5"]:not([wrap*="#{$breakpoint}-"]), [wrap~="6"]:not([wrap*="#{$breakpoint}-"])';
  #{$selector} {
    &[items-start=""]:not([items-center~="#{$breakpoint}"]):not([items-end~="#{$breakpoint}"]),
    &[items-start~="#{$breakpoint}"] {
      align-items: flex-start;
      > img {
        align-self: flex-start;
      }
    }
    &[items-center=""]:not([items-start~="#{$breakpoint}"]):not([items-end~="#{$breakpoint}"]),
    &[items-center~="#{$breakpoint}"] {
      align-items: center;
      > img {
        align-self: center;
      }
    }
    &[items-end=""]:not([items-start~="#{$breakpoint}"]):not([items-center~="#{$breakpoint}"]),
    &[items-end~="#{$breakpoint}"] {
      align-items: flex-end;
      > img {
        align-self: flex-end;
      }
    }
  }
}

@mixin wrap-spaces($i, $breakpoint) {
  $selector: '[wrap~="#{$breakpoint}-#{$i}"], [wrap~="#{$i}"]:not([wrap*="#{$breakpoint}-"])';
  @if $i != 1 {
    #{$selector} {
      &:not([space-center~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"])[space-between=""],
      &[space-between~="#{$breakpoint}"] {

        justify-content: flex-start;

        &:not([reverse=""]):not([reverse~="#{$breakpoint}"]) {
          & > [col] {
            flex: 0 0 (100% / $i - 1%);
            max-width: (100% / $i - 1%);
            margin-left: $i * (1%/ ($i - 1));
            margin-right: 0;
            //margin-bottom: ($i * (1%/ ($i - 1)) * 2);
          }
          & > [col]:nth-child(#{$i}n + 1) {
            margin-left: 0;
          }
          & > [col]:nth-child(#{$i}n) {
            margin-right: 0;
          }
        }

        &[reverse=""], &[reverse~="#{$breakpoint}"] {
          & > [col] {
            flex: 0 0 (100% / $i - 1%);
            max-width: (100% / $i - 1%);
            margin-right: $i * (1%/ ($i - 1));
            margin-left: 0;
          }
          & > [col]:nth-child(#{$i}n + 1) {
            margin-right: 0;
          }
          & > [col]:nth-child(#{$i}n) {
            margin-left: 0;
          }
        }
 
      }

      &:not([space-center~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"]):not([space-between~="#{$breakpoint}"])[space-center=""],
      &[space-center~="#{$breakpoint}"] {
        
        justify-content: flex-start;

        & > [col] {
          flex: 0 0 (100% / $i - 1%);
          max-width: (100% / $i - 1%);
          margin-left: 0;
          margin-right: 0;
        }

        &:not([reverse=""]):not([reverse~="#{$breakpoint}"]) {
          & > [col]:nth-child(#{$i}n + 1) {
            margin-left: 1% * $i/2 !important;
          }
          & > [col]:nth-child(#{$i}n) {
            margin-right: 1% * $i/2 !important;
          }
        }

        &[reverse=""], &[reverse~="#{$breakpoint}"] {
          & > [col]:nth-child(#{$i}n + 1) {
            margin-right: 1% * $i/2 !important;
          }
          & > [col]:nth-child(#{$i}n) {
            margin-left: 1% * $i/2 !important;
          }
        }




      }

      &:not([space-center~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"]):not([space-between~="#{$breakpoint}"])[space-start=""],
      &[space-start~="#{$breakpoint}"] {
        
        &:not([reverse=""]):not([reverse~="#{$breakpoint}"]) {
          justify-content: flex-start;
        }
        &[reverse=""], &[reverse~="#{$breakpoint}"] {
          justify-content: flex-end;
        }

        & > [col] {
          flex: 0 0 (100% / $i - 1%);
          max-width: (100% / $i - 1%);
          margin-left: 0;
          margin-right: 0;
        }
      }

      &:not([space-center~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"]):not([space-between~="#{$breakpoint}"])[space-end=""],
      &[space-end~="#{$breakpoint}"] {

        &:not([reverse=""]):not([reverse~="#{$breakpoint}"]) {
          justify-content: flex-end;
        }
        &[reverse=""], &[reverse~="#{$breakpoint}"] {
          justify-content: flex-start;
        }

        & > [col] {
          flex: 0 0 (100% / $i - 1%);
          max-width: (100% / $i - 1%);
          margin-left: 0;
          margin-right: 0;
        }
      }

      &:not([space-center~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"]):not([space-between~="#{$breakpoint}"])[space-around=""],
      &[space-around~="#{$breakpoint}"] {
        justify-content: flex-start;
        & > [col] {
          flex: 0 0 (100% / $i - 1%);
          max-width: (100% / $i - 1%);
          margin-left: 0.5%;
          margin-right: 0.5%;
          //margin-bottom: (0.5% * 2);
        }
      }

      &:not([space-center~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-between~="#{$breakpoint}"])[space-evenly=""],
      &[space-evenly~="#{$breakpoint}"] {
        justify-content: flex-start;

        &:not([reverse=""]):not([reverse~="#{$breakpoint}"]) {
          & > [col] {
            flex: 0 0 (100% / $i - 1%);
            max-width: (100% / $i - 1%);
            margin-left: 1% * $i/($i + 1);
          }
          & > [col]:nth-child(#{$i}n) {
            margin-right: 1% * $i/($i + 1) !important;
          }
        }
        &[reverse=""], &[reverse~="#{$breakpoint}"] {
          & > [col] {
            flex: 0 0 (100% / $i - 1%);
            max-width: (100% / $i - 1%);
            margin-right: 1% * $i/($i + 1);
          }
          & > [col]:nth-child(#{$i}n) {
            margin-left: 1% * $i/($i + 1) !important;
          }
        }

      }
    }
  }
}

@mixin wrap($breakpoint) {
  [wrap=""] {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;

    &:not([space-center~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"])[space-between=""],
    &[space-between~="#{$breakpoint}"] {
      justify-content: space-between;
    }

    &:not([space-between~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"])[space-center=""],
    &[space-center~="#{$breakpoint}"] {
      justify-content: center;
    }

    &:not([space-between~="#{$breakpoint}"]):not([space-center~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"])[space-start=""],
    &[space-start~="#{$breakpoint}"] {
      justify-content: flex-start;
    }

    &:not([space-between~="#{$breakpoint}"]):not([space-center~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"])[space-end=""],
    &[space-end~="#{$breakpoint}"] {
      justify-content: flex-end;
    }

    &:not([space-between~="#{$breakpoint}"]):not([space-center~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-evenly~="#{$breakpoint}"])[space-around=""],
    &[space-around~="#{$breakpoint}"] {
      justify-content: space-around;
    }

    &:not([space-between~="#{$breakpoint}"]):not([space-center~="#{$breakpoint}"]):not([space-start~="#{$breakpoint}"]):not([space-end~="#{$breakpoint}"]):not([space-around~="#{$breakpoint}"])[space-evenly=""],
    &[space-evenly~="#{$breakpoint}"] {
      justify-content: space-evenly;
    }
  }
}


/******************************************************/
/* WRAP */
@mixin wrap-layout-light($i) {
  $selector: '[wrap="#{$i}"]';
  #{$selector} {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;

    & > [col] {
      flex: 0 0 (100% / $i);
      max-width: 100% / $i;
    }

    @for $c from 2 through $i {
      & > [col="#{$c}"] {
        flex: 0 0 ($c * 100% / $i);
        max-width: $c * 100% / $i;
      }
    }
  }

  @include wrap-spaces-light($i);
}

@mixin wrap-items-light() {
  $selector: '[wrap]';
  #{$selector} {
    &[items-start=""] {
      align-items: flex-start;
      > img {
        align-self: flex-start;
      }
    }
    &[items-center=""] {
      align-items: center;
      > img {
        align-self: center;
      }
    }
    &[items-end=""] {
      align-items: flex-end;
      > img {
        align-self: flex-end;
      }
    }
  }
}

@mixin wrap-spaces-light($i) {
  $selector: '[wrap="#{$i}"]';
  @if $i != 1 {
    #{$selector} {
      &[space-between] {
        justify-content: flex-start;
        & > [col] {
          flex: 0 0 (100% / $i - 1%);
          max-width: (100% / $i - 1%);
          margin-left: $i * (1%/ ($i - 1));
          margin-right: 0;
        }
        & > [col]:nth-child(#{$i}n + 1) {
          margin-left: 0;
        }
        & > [col]:nth-child(#{$i}n) {
          margin-right: 0;
        }
      }

      &[space-center] {
        justify-content: flex-start;
        & > [col] {
          flex: 0 0 (100% / $i - 1%);
          max-width: (100% / $i - 1%);
          margin-left: 0;
          margin-right: 0;
        }
        & > [col]:nth-child(#{$i}n + 1) {
          margin-left: 1% * $i/2 !important;
        }
        & > [col]:nth-child(#{$i}n) {
          margin-right: 1% * $i/2 !important;
        }
      }

      &[space-start] {
        justify-content: flex-start;
        & > [col] {
          flex: 0 0 (100% / $i - 1%);
          max-width: (100% / $i - 1%);
          margin-left: 0;
          margin-right: 0;
        }
      }

      &[space-end] {
        justify-content: flex-end;
        & > [col] {
          flex: 0 0 (100% / $i - 1%);
          max-width: (100% / $i - 1%);
          margin-left: 0;
          margin-right: 0;
        }
      }

      &[space-around] {
        justify-content: flex-start;
        & > [col] {
          flex: 0 0 (100% / $i - 1%);
          max-width: (100% / $i - 1%);
          margin-left: 0.5%;
          margin-right: 0.5%;
        }
      }

      &[space-evenly] {
        justify-content: flex-start;
        & > [col] {
          flex: 0 0 (100% / $i - 1%);
          max-width: (100% / $i - 1%);
          margin-left: 1% * $i/($i + 1);
        }
        & > [col]:nth-child(#{$i}n) {
          margin-right: 1% * $i/($i + 1) !important;
        }
      }
    }
  }
}

@mixin wrap-light() {
  [wrap=""] {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;

    &[space-between] {
      justify-content: space-between;
    }

    &[space-center] {
      justify-content: center;
    }

    &[space-start] {
      justify-content: flex-start;
    }

    &[space-end] {
      justify-content: flex-end;
    }

    &[space-around] {
      justify-content: space-around;
    }

    &[space-evenly] {
      justify-content: space-evenly;
    }
  }
}