@charset "utf-8";

//base
@import "base/all";

@import "helpers/all";
@import "layouts/all";
@import "alignment/all";
@import "spacing/all";
@import "visibility/all";
@import "positions/all";

@mixin inboxes($breakpoint) {
    @include vbox-layout($breakpoint);
    @include hbox-layout($breakpoint);
    @include wrap-layout($breakpoint);

    @include spaces($breakpoint);
    @include aligns($breakpoint);
    @include spacing($breakpoint);
    @include self-aligns($breakpoint);
    @include flex-order($breakpoint);
    @include flex-size($breakpoint);
    @include gap($breakpoint);
    @include hide($breakpoint);
    @include positions($breakpoint);
}

$breakpoints-count: length($breakpoints);

@for $i from 1 through $breakpoints-count {
    $bp: nth(map-keys($breakpoints), $i);
    $prev-bp: if($i > 1, nth(map-keys($breakpoints), $i - 1), null);
    @if $i == 1 {
        @include respond-below($bp) {
            @include inboxes($bp);
        }
    } @else if $i == $breakpoints-count {
        @include respond-above($prev-bp) {
            @include inboxes($bp);
        }
    } @else {
        @include respond-between($prev-bp, $bp) {
            @include inboxes($bp);
        }
    }
}

@media print {
    @include inboxes("pr");
}